/* Importing the main css file - where the magic happens */


/* Importing Foundation 4 and overrides
============================================================ */
@import "foundation_and_overrides";

/* Settings & overrides
============================================================ */
@import "settings";
body {
  background-color: #ebebeb;
}

.hero {
  position: relative;
  opacity: 0;
  -webkit-animation:fadeIn ease-in .5s;
  -moz-animation:fadeIn ease-in .5s;
  -o-animation:fadeIn ease-in .5s;
  animation:fadeIn ease-in .5s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  header {
    position: absolute;
    text-align: center;
    width: 430px;
    left: 50%;
    top: 50%;
    margin-left: -215px;
    h1 {
      font-size: 5em;
      color: #fff;
      font-weight: bold;
      font-family: "Helvetica Neue", helvetica, sans-serif;
      letter-spacing: -1px;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2.4em;
      color: #fff;
      font-weight: normal;
      /*font-family: "Wisdom Script";*/
      font-family: 'Yesteryear', cursive;
    }
    hr {
      margin: 0 0 10px 0;
    }
  }
  img {
    width: 100%;
  }
}

.article {
  h2:first-child {
    margin-top: 40px;
  }
}

.footer {
  padding: 50px 0;
  background: #000;
  color: #ebebeb;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media screen and (max-width: 1170px) {
  .hero header {
   top: 25%;
 }
}
@media screen and (max-width: 750px) {
  .hero header {
   width: 300px;
   margin-left: -150px;
   h1 {
     font-size: 3.5em;
   }
   h2 {
     font-size: 1.8em;
   }
 }
}
@media screen and (max-width: 530px) {
  .hero header {
    top: 0px;
  }
}
