/* Importing the main css file - where the magic happens */


/* Importing Foundation 4 and overrides
============================================================ */
@import "foundation_and_overrides";

/* Settings & overrides
============================================================ */
@import "settings";
@import "icon-fonts";
body {
  background-color: #ebebeb;
}

.hero {
  position: relative;
  opacity: 0;
  margin-bottom: 30px;
  -webkit-animation:fadeIn ease-in .5s;
  -moz-animation:fadeIn ease-in .5s;
  -o-animation:fadeIn ease-in .5s;
  animation:fadeIn ease-in .5s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  header {
    position: absolute;
    text-align: center;
    top: 15em;
    width: 100%;
    h1, h2 {
      text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    }
    h1 {
      font-size: 5em;
      color: #fff;
      font-weight: bold;
      font-family: "Helvetica Neue", helvetica, sans-serif;
      letter-spacing: -1px;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2.4em;
      color: #fff;
      font-weight: normal;
      /*font-family: "Wisdom Script";*/
      font-family: 'Yesteryear', cursive;
    }
  }
  img {
    width: 100%;
  }
}

.article {
  h2:first-child {
    margin-top: 40px;
  }
}

.pagination {
  position: fixed;
  width: 100%;
  top: 50%;
  a {
    display: block;
    line-height: 30px;
    position: absolute;
    background: rgba(0,0,0,0.5);
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    &.previous-page, &.next-page {
      @include transition(all .3s);
      &:before, &:after {
        font-family: entypo, sans-serif;
        width: 30px;
        text-align: center;
        display: inline-block;
        color: #bbb;
      }
    }
    &.previous-page {
      @include border-right-radius(4px);
      padding-right: 15px;
      left: -130px;
      &:hover {
        left: 0;
      }
      &:after {
        content: "\e765";
        padding-left: 10px;
      }
    }
    &.next-page {
      @include border-left-radius(4px);
      padding-left: 15px;
      right: -103px;
      &:hover {
        right: 0;
      }
      &:before {
        content: "\e766";
        padding-right: 10px;
      }
    }
  }
}

.footer {
  padding: 50px 0;
  background: #000;
  color: #999;
  p {
    margin-bottom: 5px;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media screen and (max-width: 1170px) {
  .hero header {
    top: 25%;
  }
}
@media screen and (max-width: 750px) {
  .hero header {
   h1 {
     font-size: 3.5em;
   }
   h2 {
     font-size: 1.8em;
   }
 }
}
@media screen and (max-width: 530px) {
  .hero header {
    top: 0px;
  }
}
