<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/ruh5hyc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>

    <%= yield %>

    <div class="footer">
      <div class="row">
        <div class="large-12 columns">
          <p>
            <a href="http://instagram.com/xjuiceboxx" class="entypo-instagram">&nbsp;</a>
            <a href="https://twitter.com/oregonjuice" class="entypo-twitter">&nbsp;</a>
            <a href="https://www.facebook.com/julian.fields.14" class="entypo-facebook">&nbsp;</a>
            <a href="https://github.com/julianfields" class="entypo-github">&nbsp;</a>
          </p>
          &copy; 2013 Julian Fields
        </div>
      </div>
    </div>

  </body>
</html>


